body {
  /*background: #4f2683;*/
  font-family: "FINGBANGER", sans-serif;
  width: 960px;
  margin: 10px auto;
}
li a{
color: #E84D0C;
/*background: #FF0000;*/
}

.kp {
    background: #FFBD5E;
}
/*img {*/
  /*width: 150px;*/
  /*box-shadow: 8px 8px 4px #AAA;*/
  /*float: right;*/
/*}*/

.header {
  background: #4f2683;
  padding: 14px;
  border-radius: 15px;
}

p {
  border: solid 4px gold;
  margin: solid 8px red;
  /*border-bottom: solid 4px gray;*/*/
  /*padding-bottom: 8px;*/
  /*padding-right: 8px;*/

}
